[Unit]
Description=Scheduler service for finance
After=network.target multi-user.target

[Service]
#User=idanre1
WorkingDirectory=/nas/algo
Type=simple
ExecStart=/nas/algo/startup_init.sh


[Install]
WantedBy=multi-user.target

#[Timer]
#OnBootSec=10
