[Unit]
Description=Scheduler service for finance
After=network.target multi-user.target

[Service]
Type=simple
ExecStart=/nas/algo/timewindow_init.sh


[Install]
WantedBy=multi-user.target

#[Timer]
#OnBootSec=10
